doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="description",content="")
        meta(
            name="viewport",
            content="width=device-width, initial-scale=1")
        title Yiou's personal site
        meta(name="theme-color",content="#FF8D87")
        link(rel="mainfest", href="manifest.json")
        meta(name="msapplication-TileColor",content="#FF8D87")
        meta(name="mobile-web-app-capable",content="yes")
        link(rel="stylesheet", href="styles/normalize.css")
        link(rel="stylesheet", href="styles/skeleton.css")
        link(rel="stylesheet", href="styles/animate.min.css")
        link(rel="stylesheet", href="styles/main.css")
        link(rel="stylesheet", href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css")
        
        link(rel="import",href="styles/shared-styles.html")
        style(is="custom-style", include="shared-styles")
        script(src="../bower_components/webcomponentsjs/webcomponents-lite.js")
        link(rel="import", href="elements/elements.html" async)
        
        
    body
        .fullbleed.layout.vertical.unresolved        
            template#app(is="dom-bind")
                //slow-element
                
                //- paper-drawer-panel#paperDrawerPanel
                //-     paper-scroll-header-panel(drawer,fixed)
                //-         paper-toolbar#drawerToolbar
                //-             span.paper-font-title Menu
                //-         paper-menu.list(attr-for-selected="data-route", selected="[[route]]")
                //-             a(data-route="home",href="{{baseUrl}}")
                //-                 iron-icon(icon="home")
                //-                 span Home
                //-             a(data-route="users",href="{{baseUrl}}users")
                //-                 iron-icon(icon="info")
                //-                 span Users
                //-             a(data-route="contact",href="{{baseUrl}}contact")
                //-                 iron-icon(icon="mail")
                //-                 span Contact


                iron-media-query(query="(min-width: 1000px)",query-matches="{{desktop}}")
                
                neon-animated-pages#pages(
                    selected="0",
                    entry-animation="[[entryAnimation]]",
                    exit-animation="[[exitAnimation]]")  
                    include ./_mainpage.jade
                    include ./_project-tmood.jade
                    include ./_project-chinablue.jade
                    include ./_project-misc.jade
                    include ./_aboutme.jade
                    
                .toolbar 
                    .toolbar_icon a
                    .toolbar_title Yiou Chen
                    #menu_button_container
                        shape-shifter#menu_button(shape="menu",color="#fff",on-tap="_onMenuClick")
                include ./_progress.jade
                iron-icon.left_button(icon="chevron-left",on-tap="_onPrevClick")
                iron-icon.right_button(icon="chevron-right",on-tap="_onNextClick")
                include ./_menu.jade
        include ./_preload.jade
        script(src="scripts/hammer.min.js")
        script(src="scripts/app.js")            
